.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
}

/* css for header */
.header {
	/*шапка сайта*/
	display: flex;
	box-sizing: border-box;
	max-width: 1300px;
	width: 100%;
	min-height: 80px;
	margin: 0 auto;
	padding-right: 16px;
	background: #213B7E;
	min-height: 80px;
	justify-content: space-between;
	align-items: center;
}

.img-logo {
	/*Логотип сайта*/
	display: flex;
	padding: 16px 0px 17px 16px;
}

.navigate {
	/*навигация по шапке*/
	display: flex;
	flex-wrap: wrap;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.menu-link {
	/*само меню навигации шапки*/
	display: flex;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	align-items: center;
	padding: 0 18px;
	background-color: #213B7E;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.active-link {
	color: #213B7E;
	background-color: #FFFFFF;
	text-decoration: none;
}

.menu-link:hover {
	background-color: #FFFFFF;
	color: #213B7E;
	text-decoration: none;
}

.login {
	/*кнопка Логин*/
	display: flex;
	justify-content: center;
	width: 153px;
	height: 50px;
	align-items: center;
	background-color: #EA5D21;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
}

/*Popup login*/
.login-popup {
	display: none;
	position: absolute;
	box-sizing: border-box;
	max-width: 500px;
	min-height: 418px;
	width: 100%;
	padding: 10px 38px 0px 38px;
	background: #FFFFFF;
	background-color: #FFFFFF;
	border: 1px solid #213B7E;
	z-index: 2;
	transform: translateX(55%);
	transform: translateY(-83%);
	bottom: 0;
	left: 37%;
}

.show-popup {
	display: block;
}

.login-heading {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	/* line-height: 28px; */
	color: #000000;
	text-align: center;
}

.login-form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-form>input {
	width: 100%;
	max-width: 500px;
	max-height: 55px;
	margin-bottom: 56px;
	border: 1px solid #808080;
}

.login-input {
	max-width: 444px;
	max-height: 55px;
	background: #FFFFFF;
	border: 1px solid #808080;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	/* line-height: 28px; */
	color: #808080;
	padding: 14px;
}

.login-pass {
	max-width: 444px;
	max-height: 55px;
	background: #FFFFFF;
	border: 1px solid #808080;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	/* line-height: 28px; */
	color: #808080;
	padding: 14px;
}

.popup-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 153px;
	min-height: 50px;
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	background-color: #EA6113;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

/* css for main content */
.main-content {
	max-width: 911px;
	width: 100%;
	margin: 0 auto;
	flex-grow: 1;
}

.welcome {
	text-align: center;
	margin-top: 33px;
	margin-bottom: 25px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #000000;
}

.photo-student {
	max-width: 523px;
	width: 100%;
	height: 316px;
}

h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
}

.text {
	/* flex-wrap: wrap; */
	width: 100%;
	max-width: 634px;
	min-height: 127px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	/* line-height: 21px; */
}

.ucim {
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin-top: -180px;
	/* margin-left: -130px; */
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	color: #646464;
	/* width: 129px; */
	/* height: 90px; */
}

.text:hover {
	color: red;
}

.text2 {
	max-width: 634px;
	width: 100%;
	min-height: 109px;
	/* flex-wrap: wrap; */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	/* line-height: 21px; */
}

.text2:hover {
	color: green;
}

.bold {
	font-weight: bold;
	color: #000000;
}

.bold2 {
	font-style: italic;
	color: #CF5510;
}

/*for page student.html*/
.stud-main {
	max-width: 1202px;
	width: 100%;
	margin: 0 auto;
	/* display: flex; */
	flex-grow: 1;
	box-sizing: border-box;
}

.zagolovok {
	text-align: left;
	margin-top: 33px;
	margin-bottom: 25px;
	margin-left: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #000000;
}

.text3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: block;
	text-align: center;
}

.text4 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	display: block;
	text-align: center;
	/* padding-top: 18px; */
	text-decoration: none;
	color: #000000;
}

#img {
	padding-bottom: 18px;
}

.stud-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1202px;
	width: 100%;
	/* max-height: 384px; */
	justify-content: space-around;
	margin-top: 24px;
	/* padding-left: 219px; */
}

/* css for kurs.html */
.stud-main1 {
	max-width: 820px;
	width: 100%;
	margin: 0 auto;
	/* display: flex; */
	flex-grow: 1;
	box-sizing: border-box;
}

.hh3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
}

.video-photo {
	/* display: flex; */
	max-width: 820px;
	height: 549.33px;
	width: 100%;
	/* height: 100%; */
	border: #EA5D21;
	/* flex-wrap: wrap; */
}

/*css for contact.html*/
.contacty {
	max-width: 1268px;
	width: 100%;
	margin: 0 auto;
	/* display: flex; */
	flex-grow: 1;
	box-sizing: border-box;
}

/* css for новичек */
#nov {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	background: #3AA828;
	border-radius: 20px;
	width: 94px;
	height: 24px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 2px;
	position: relative;
	top: -372px;
	left: 120px;
}

.zagolovok1 {
	display: flex;
	text-align: left;
	margin-top: 33px;
	margin-bottom: 25px;
	margin-left: 12%;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	color: #000000;
}

.photogoogle {
	/* display: flex; */
	/* flex-wrap: wrap; */
	max-width: 1268px;
	height: 370px;
	width: 100%;
}

.cont {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	margin-left: 12%;
	margin-bottom: 7px;
}

.cont2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	margin-left: 12%;
	margin-top: 3px;
}

/* css footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	max-width: 1300px;
	width: 100%;
	min-height: 60px;
	background: #213B7E;
	margin: 0 auto;
	padding: 0 16px;
	margin-top: 156px;
}

.foot-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}

.silka {
	color: rgba(255, 255, 255, 0.5);
}

/* Media */
@media (max-width: 750px) {
	.login-popup {
		left: 0%;
		transform: translateY(-65%);
	}

	h2 {
		text-align: center;
		margin-top: 5px;
		margin-bottom: -10px;
	}

	.text {
		text-align: justify;
		padding: 0px 5px 0px 5px;
		margin-bottom: -10px;
	}

	.text2 {
		text-align: justify;
		padding: 0px 5px 0px 5px;
		margin-bottom: -10px;
	}

	.ucim {
		float: none;
		margin-top: -10px;
		margin-bottom: -10px;
	}

	.photo-student {
		margin-bottom: -10px;
		height: 100%;
	}

	.footer {
		margin-top: 50px;
	}

	.text4 {
		margin-bottom: 18px;
	}
}