.body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
}

/* css for header */
.header {
	/*шапка сайта*/
	display: flex;
	box-sizing: border-box;
	width: 1300px;
	height: 80px;
	margin: 0 auto;
	padding-right: 16px;
	background: #213B7E;
	min-height: 80px;
	justify-content: space-between;
	align-items: center;
}

.img-logo {
	/*Логотип сайта*/
	display: flex;
	padding: 16px 0px 17px 16px;
}

.navigate {
	/*навигация по шапке*/
	display: flex;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.menu-link {
	/*само меню навигации шапки*/
	display: flex;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	align-items: center;
	padding: 0 18px;
	background-color: #213B7E;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.menu-link:hover {
	background-color: #FFFFFF;
	color: #213B7E;
	text-decoration: none;
}

.login {
	/*кнопка Логин*/
	display: flex;
	justify-content: center;
	width: 153px;
	height: 50px;
	align-items: center;
	background-color: #EA5D21;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
}

/* css for main content */
.main-content {
	width: 911px;
	margin: 0 auto;
	flex-grow: 1;
}

.welcome {
	text-align: center;
	margin-top: 33px;
	margin-bottom: 25px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	color: #000000;
}

.photo-student {
	width: 523px;
	height: 316px;
}

.zagolovok1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	margin-top: 15px;
}

.text1 {
	width: 634px;
	height: 127px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

/* css footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 1300px;
	min-height: 60px;
	background: #213B7E;
	margin: 0 auto;
	padding: 0 16px;
}

.foot-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: rgba(255, 255, 255, 0.5);
}

.silka {
	color: rgba(255, 255, 255, 0.5);
}